body{
    display: flex;
    background: rgb(145, 145, 145);
    justify-content: center;
    align-content: center;
}

#main-container {
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    width: 260px;
    height: 260px;
    
}

.display {
    background: white;
    width: 260px;
    height: 120px;
}

#num-container {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0px;
    
}

#num-container button{
    background: rgb(51, 51, 110);
    border: none;
    width: 66.6px;
    height: 65px;
    text-align: center;
    align-content: center;
    color: white;
    
}

#num-container button:hover{
    background: rgb(33, 33, 72);
    transition: background-color 0.2s;
}

#op-container{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#op-container button:hover{
    background: rgb(73, 60, 34);
    transition: background-color 0.2s;
}

#op-container button{
    color: white;
    border: none;
    background: rgb(110, 90, 51);
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
}